<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand pl-5" href="#"><img src="assets/popflix.png" alt="" style="width: 150px; height: 150px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link active text-white text-uppercase" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-uppercase" routerLink="/coming">Upcoming</a>
          </li>
              <li class="nav-item">
                <a class="nav-link text-white text-uppercase" routerLink="/signup">Create Account</a>
              </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr style="color: aliceblue;">

<br>
<div class="container">
    <h1 class="text-center" style="font-size: 30px; color: silver;">My to watch list</h1>
    <br>
    <br>
    <div class="row">
      <div class="col"><img src="https://m.media-amazon.com/images/M/MV5BODljZTM3ODAtMDc0YS00NmI4LTlmZTUtM2I5MDAzNTQxZmMxXkEyXkFqcGdeQXVyMTEwMTY3NDI@._V1_UY1200_CR111,0,630,1200_AL_.jpg" alt="" style="width: 90%; height: 90%"></div>
      <div class="col"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTTY0URTB-gXN5UTFFTl4bD8f75ZVqYTIk3IO_gyfM8qGsfxgp6" alt="" style="width: 90%; height: 90%"></div>
      <div class="col"><img src="https://lumiere-a.akamaihd.net/v1/images/p_blackwidow_21043_v2_6d1b73b8.jpeg" alt="..." style="width: 90%; height: 90%;"> </div>
      <div class="col"><img src="https://cdn.pastemagazine.com/www/articles/2022/01/14/scream-2022-poster.jpg" alt="" style="width: 90%;height: 90%;"></div>
    </div>
  


